/*P R I M E R   S E C C I O N   I N I C I O */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&family=Frank+Ruhl+Libre&family=Heebo&family=Josefin+Sans:wght@450&family=Montserrat:wght@400;500&family=Open+Sans:wght@300;600&family=Rubik:ital,wght@0,400;1,800&family=Signika+Negative&display=swap");
/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*HEADER*/
html,
body {
  max-width: 100%;
  font-family: "Heebo", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-weight: 400;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 14px;
  margin: 10px 0;
  line-height: 1.7em;
}

a {
  text-decoration: none;
}

/*HEADER MISMO PARA TODAS LAS SECCIONES*/
.bg-mi-fondo {
  background-color: #006494;
}

.color-enlace {
  color: #ffffff !important;
}

/*MAIN*/
/*CARRUSEL DE IMAGENES*/
.carousel-item {
  width: 100%;
  height: 525px;
  width: 100%;
  height: 525px;
}

.encabezado1 {
  background-color: #0582CA;
  margin-inline: 69px;
  margin-inline-end: 41px;
  text-align: center;
  color: #ffffff;
}

/* GALERIA DE IMAGENES*/
.destinos h2 {
  background-color: #0582CA;
  margin: 9px;
  padding: 7px;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  margin-inline: 69px;
  margin-inline-end: 41px;
}

.card-group {
  padding: 0px 30px 20px 60px;
}

.card {
  cursor: default;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.card {
  margin: 10px;
}

.card-img-top {
  height: 230px;
}

.card-body {
  background-color: #1f85cd;
}

.card-title {
  text-align: center;
  color: #ffffff !important;
}

.card-text {
  text-align: center;
  color: #ffffff;
}

/* ACERCA DE NOSOTROS*/
.nosotros h2 {
  background-color: #0582CA;
  padding: 7px;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  margin-inline: 64px;
  margin-inline-end: 38px;
}
.nosotros p {
  padding: 10px;
  background-color: #d9d6d6;
  margin-inline: 64px;
  margin-inline-end: 40px;
}

.col2 {
  column-count: 2;
}

/*BANNER*/
.recomendaciones-clientes h2 {
  background-color: #0582CA;
  margin: 9px;
  padding: 7px;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  margin-inline: 64px;
  margin-inline-end: 38px;
}

/*BANNER*/
.imagenbanner {
  width: 100%;
}

/*mismo footer para todas las secciones*/
/*FOOTER*/
.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  background-color: #006494;
  color: #ffffff;
  padding: 20px;
}

.footer-content {
  grid-column: span 2;
  text-align: center;
}
.footer-content .h3 {
  text-align: center;
}

.socials {
  list-style: none;
  padding: 0;
  gap: 10px;
}
.socials li {
  display: inline-block;
}
.socials a {
  text-decoration: none;
  color: #ffffff;
}

.footer-bottom {
  text-align: center;
  grid-column: span 2;
  padding-top: 10px;
}

.footer-bottom span {
  color: #ba9913;
}

/*S E G U N D A   S E C C I O N    D E S T I N O S*/
/*main*/
.section-destinos {
  margin-inline: 65px;
  padding: 10px;
  display: flex;
}

.destinos-1 h1 {
  background-color: #0582CA;
  margin: 9px;
  text-align: center;
  color: #ffffff;
  margin-inline: 75px;
}

.destinos-text-1 {
  background-color: #4184bd;
  padding: 4px;
  text-align: center;
  color: #ffffff;
}

.img {
  width: 400px;
  height: 240px;
}

/* T E R C E R A    S E C C I O N   S E R V I C I O S  C O R P O R A T I V O S*/
/*main*/
.servicios h1 {
  background-color: #0582CA;
  margin: 9px;
  padding: 7px;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
}

.corporativos-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1215686275);
  margin: 10px;
  height: 400px;
}

.corporativos {
  text-align: center;
  margin: 0 10px;
}

.img-servicios {
  max-width: 100%;
  height: auto;
}

.servicios-text h2 {
  font-size: 15px;
}

/* C U A R T A   S E C C I O N    A C E R CA   D E   N O S O T R O S*/
/*main*/
.seccionnosotros h1 {
  background-color: #0582CA;
  margin: 9px;
  padding: 7px;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  margin-inline: 60px;
}

.imagenbanner-1 {
  width: 100%;
}

.imagensummer {
  height: 650px;
  padding-inline-end: 60px;
  padding-top: 10px;
}

.summer-text {
  display: flex;
}

.seccion-nosotros {
  display: flex;
  flex-direction: row-reverse;
}

/*Q U I N T A   S E C C I O N   C O N T A C T O*/
/*main*/
/*FORMULARIO*/
.seccion-contacto {
  background-image: url("../img/islasmaldivas.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.formulario {
  margin: auto;
  max-width: 500px;
  background-color: #2798df;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px #000000;
}
.formulario h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.formulario-contacto {
  margin-bottom: 15px;
}
.formulario-contacto label {
  display: block;
  font-weight: bold;
}

.form-servicios {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.boton {
  background-color: #0077b6;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.boton:hover {
  background-color: #005c92;
}

/* M E D I A  Q U E R I E S /*

/* Media query para tablet*/
/*index*/
@media (min-width: 481px) and (max-width: 768px) {
  .carousel {
    display: none;
  }
  .encabezado1 {
    display: none;
  }
  /*destinos*/
  .destinos-1 h1 {
    font-size: 35px;
  }
  .section-destinos {
    display: flex;
    flex-direction: column;
  }
  .img {
    width: 618px;
  }
  .destinos-text-1 {
    padding: 20px;
  }
  /*servicios coporativos*/
  .corporativos-container {
    height: 900px;
    padding: 30px;
    display: flex;
    flex-direction: column;
  }
  /*acerca de nosotros*/
  .imagensummer {
    display: none;
  }
  .seccionnosotros h1 {
    margin-inline-end: 39px;
  }
}
/* Media query para mobile*/
@media (max-width: 480px) and (min-width: 320px) {
  /*index*/
  .carousel {
    display: none;
  }
  .encabezado1 {
    display: none;
  }
  .col2 {
    display: flex;
    flex-direction: column;
  }
  .imagenbanner {
    display: none;
  }
  /*destinos*/
  .destinos-1 h1 {
    font-size: 30px;
  }
  .section-destinos {
    display: flex;
    flex-direction: column;
  }
  .img {
    width: 330px;
  }
  /*servicios corporativos*/
  .corporativos-container {
    height: 900px;
    display: flex;
    flex-direction: column;
  }
  /*acerca de nosotros*/
  .seccionnosotros h1 {
    margin-inline-end: 40px;
  }
  .imagensummer {
    display: none;
  }
}
.color-formulario {
  background-color: #2798df;
}

.color-fondo {
  background-color: #006494;
}

.color-card-body {
  background-color: #1f85cd;
}

/*# sourceMappingURL=style.css.map */
