/*S E G U N D A   S E C C I O N    D E S T I N O S*/

/*main*/

.destinos-1 h1 {
    background-color: $blue;
    margin: 9px;
    padding: 7px;
    text-align: center;
    font-size: 20px;
    color: $blanco;
}

.section-destinos {
    padding: 10px;
    display: flex;
}


.destinos-text-1 {

    background-color: $celeste;
    padding: 10px;
    text-align: center;
    color: $blanco;
}