/*S E G U N D A   S E C C I O N    D E S T I N O S*/

/*main*/


.section-destinos  {
  margin-inline: 65px;
}

.destinos-1 h1 {
  background-color: #0582CA ;
  margin: 9px;
  text-align: center;
  color: #ffffff;
  margin-inline: 75px;
}


.section-destinos {
  padding: 10px;
  display: flex;
}

.destinos-text-1 {

  background-color: #4184bd;
  padding: 4px;
  text-align: center;
  color: #ffffff;
}

.img {
  width: 400px;
  height: 240px;
}