/*HEADER*/


html,
body {
    max-width: 100%;
    font-family: 'Heebo', sans-serif;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-weight: 400;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 14px;
    margin: 10px 0;
    line-height: 1.7em;
}

a {
    text-decoration: none;
} 
