
  /*mismo footer para todas las secciones*/

/*FOOTER*/

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  background-color:#006494; 
  color: #ffffff;
  padding: 20px;
}

.footer-content {
  grid-column: span 2;
  text-align: center;
}

.footer-content h3 {
text-align: center;
}

.socials {
  list-style: none;
  padding: 0;
  gap: 10px;
}

.socials li {
  display: inline-block;
}

.socials a {
  text-decoration: none;
  color: #ffffff;
}

.footer-bottom {
  text-align: center;
  grid-column: span 2;
  padding-top: 10px;
}

.footer-bottom span {
  color: #ba9913;
}

  