
.encabezado1  {
  background-color:  #0582CA;
  margin-inline: 69px;
  margin-inline-end: 41px;
  text-align: center;
  color: #ffffff;
}
/* GALERIA DE IMAGENES*/


.destinos h2 {
  background-color: #0582CA ;
  margin: 9px;
  padding: 7px;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  margin-inline: 69px;
  margin-inline-end: 41px;
}

.card-group {
  padding: 0px 30px 20px 60px;
}

.card {
  cursor: default;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.card {
  margin: 10px;
}

.card-img-top {
  height: 230px;
}

.card-body {
  background-color: #1f85cd;
}

.card-title {
  text-align: center;
  color: #ffffff !important;
}

.card-text {
  text-align: center;
  color: #ffffff;
}







