/* M E D I A  Q U E R I E S /*

/*media queris para desktop*/
@media (min-width: 770px) and  (max-width: 1220px)  {
    /*destinos*/
    .section-destinos { 
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .img {
        max-width: 100%;
        height: auto;
      }

    .corporativos-container {
      display: flex;
      flex-direction: column;
      height: auto;
    }
      
    .seccion-nosotros {
        display: flex;
        flex-direction: column-reverse;
   }

   .seccionacercadenosotros {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
   }
}



/* Media query para tablet*/
@media (min-width: 481px) and  (max-width: 768px)  {
    /*index*/
.carousel {
    display: none;
  }
.card-img-top {
    height: auto;
  }

  /*destinos*/
  .section-destinos { 
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img {
    max-width: 100%;
    height: auto;
  }

 /*servicios coporativos*/

 .corporativos-container {
    height: 900px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    }

 /*acerca de nosotros*/
    .imagensummer {
        display: none;
    }

    .seccionnosotros h1 {
        margin-inline-end: 39px;
    }

    /*contacto*/
    .formulario {
        width: auto;
    }
}



/* Media query para mobile*/

@media (max-width: 480px) and (min-width: 320px) {
    /*index*/
    .carousel {
        display: none; 
    }

    .col2 {
        display: flex;
        flex-direction: column;
    }

    .imagenbanner {
        display: none;
    }
    /*destinos*/

    .section-destinos { 
    display: flex;
    flex-direction: column;
    }
    .img {
        max-width: 100%;
        height: auto;
    }

    .destinos-text {
        max-width: 100%;
        height: auto;
     }

    /*servicios corporativos*/

    .corporativos-container {
      height: auto;
      display: flex;
      flex-direction: column;
    }

    
     /*acerca de nosotros*/
     .seccionnosotros h1  {
         margin-inline-end: 40px;
     }

     .imagensummer {
        display: none;
    }

    /*contacto*/
    .formulario {
        width: auto;
    }
}


/*media queris para desktop*/

