/* M E D I A  Q U E R I E S /*

/* Media query para tablet*/
/*index*/

@media (min-width: 481px) and  (max-width: 768px)  {

.carousel {
    display: none;
}

/*destinos*/
.destinos-1 h1 {
font-size: 35px;
}
.section-destinos {
    display: flex;
    flex-direction: column;
}

.img {
    width: 618px;
}

.destinos-text-1 {
    padding: 20px;
}

.card-img-top {
    height: auto;
  }


 /*servicios coporativos*/

 .corporativos-container {
    height: 900px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    }

 /*acerca de nosotros*/
    .imagensummer {
        display: none;
    }

    .seccionnosotros h1 {
        margin-inline-end: 39px;
    }

}
  

/* Media query para mobile*/

@media (max-width: 480px) and (min-width: 320px) {  
    /*index*/
    .carousel {
        display: none; 
    }

    .col2 {
        display: flex;
        flex-direction: column;
    }

    .imagenbanner {
        display: none;
    }

    /*destinos*/
    .destinos-1 h1 {
        font-size: 30px;
    }
    .section-destinos {
       display: flex;
       flex-direction: column;
    }



    .img {
        width: 330px;
    }

    /*servicios corporativos*/
    .corporativos-container {
      height: 900px;
      display: flex;
      flex-direction: column;
     }

     /*acerca de nosotros*/
     .seccionnosotros h1  {
         margin-inline-end: 40px;
     }

     .imagensummer {
        display: none;
    }
   


}
