/*P R I M E R   S E C C I O N   I N I C I O */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&family=Frank+Ruhl+Libre&family=Heebo&family=Josefin+Sans:wght@450&family=Montserrat:wght@400;500&family=Open+Sans:wght@300;600&family=Rubik:ital,wght@0,400;1,800&family=Signika+Negative&display=swap');

/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}