$azul: #006494;
$blanco: #ffffff;
$blue:#0582CA;
$negro: #0000001f;
$azul-footer: #006494; 
$amarillo: #ba9913;
$celeste:#4184bd ;
$azul-empresa: #00608c; 
$azul-text: #004261;
$celeste-formulario: #2798df;
$black: #000000;
$color-form: #cccccc;
$color-boton: #0077b6;
$color-btn: #005c92;
$celeste-card:#1f85cd;


