
/*primera seccion index, inicio*/

@import url('link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@450&display=swap');

/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/


html,
body {
    font-family: josefin;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
}

h3 {
    font-size: 1.75rem;
}

p {
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.7em;
}

a {
    text-decoration: none;
}


.container {
    margin: auto;
    max-width: 1300px;
    overflow: auto;
    padding: 0 20px;
}

.large {
    font-size: 1.25rem;
}


.registrate-ahora  {
    font-size: 60px;
    font-weight: 200;
}

.btn {
    display: inline-block;
    font-size: 15px;
    padding: 12px 23px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 4px;
}

.btn-light {
    background-color: aliceblue;
    border: 1px solid aliceblue;
    color: black;
}

form label {
    display: inline-block;
    margin-bottom: 10px;
}

form .form-group {
    margin-bottom: 1rem;
}

form .form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 1rem;
    line-height: 1.5;
    color: antiquewhite;
    background-color: rgba(255, 255, 255, 0.7 );
    border: none;
    border-radius: 4px;

}


#mainheader {
    background: url(img/playa-clearwater-cerca-orilla-arboles-nubes-cielo-azul.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
}

/* Navbar igual para todas las secciones*/
#navbar {
    background-color: rgba(255, 255, 255, 0.5 );
    padding-top: 20px;
    overflow: auto;
    padding-bottom: 20px;
    padding-top: 20px;   
}

#navbar a {
    color: rgb(5, 40, 84);
}

 .logo-pezzati {
    height: 200px;
    width:250px;
    float: left;
    padding-top: 16px;
    font-weight: 500px;
}


nav ul li {
    display: inline;
    padding: 28px;
    float: right;
    font-size: 25px;   
  }

  /*fin navbar**/


#showcase {
    padding-top: 20px;
}

.showcase-title {
    float:left;
    width: 50%;
    text-align: center;
    padding: 50px 60px ;
}



.showcase-title h1 {
    padding-bottom: 28px;
}

.showcase-form {
    float: right;
    width: 50%;
    padding: 10px;
}

.form-box {
    background-color: rgb(255,255,255,0.4 );
    padding: 50px 40px ;
    border-top-left-radius: 80px;

}

.form-box h3 {
    padding-bottom: 50px;
    text-align: center;
}

.form-box .btn {
    width: 100%;
    margin-top: 15px;

}

/*MAIN*/

.destinos h2 {
    background-color: rgb(94, 181, 232);
    margin: 10px;
    text-align: center;
}


.nosotros h2 {
    background-color: rgb(94, 181, 232);
    margin: 10px;
    text-align: center;
}

.recomendaciones-clientes h2 {
    background-color: rgb(94, 181, 232);
    margin: 10px;
    text-align: center;
}


/*mismo footer para todas las secciones*/

/*footer*/

#mainfooter {
    background-color: rgb(39, 152, 223);
}
.redes h2 {
    text-align: center;
}

#mainfooter p {
    text-align: center;
}
.redes{
    text-align: center;
}
.sociales li {
 display: inline-block; }

.sociales img{
    width: 45px;
    height:45px;
}

#mainfooter iframe{
  position: left;
    width: 150px;
    height: 100px;
    margin: 10px;
  }



/*segunda seccion destinos*/

/*main*/

.destinos-1 h2 {
    background-color: rgb(94, 181, 232);
    margin: 10px;
    text-align: center;
}

/*tercera seccion acerca de nosotros*/

/*main*/

.summer-text h3 {
    background-color: rgb(94, 181, 232);
    margin: 10px;
    text-align: center;
}

/*cuarta seccion servicios corporativos*/

/*main*/


.servicios h2 {
    background-color: rgb(94, 181, 232);
    margin: 10px;
    text-align: center;
}

/*quinta seccion contacto*/

/*main*/

.formulario {
    background-color: rgb(68, 135, 218);
}


